.freeui {
  &-alert {
    padding: 20px;
    &--primary {
      background-color: dodgerblue;
    }
    &--warning {
      background-color: yellow;
    }
    &--bordered {
      border: 1px solid red;
    }
  }
}
