.freeui {
  &-alert {
    padding: 20px;
    color: var(--freeui-color-gray-50);
    &--primary {
      background-color: rgba(var(--freeui-color-blue-600-rgb), 0.15);
      border-color: rgba(var(--freeui-color-blue-600-rgb), 0.25);
      color: rgba(var(--freeui-color-blue-600-rgb), 1);
    }
    &--secondary {
      background-color: rgba(var(--freeui-color-gray-600-rgb), 0.15);
      border-color: rgba(var(--freeui-color-gray-600-rgb), 0.25);
      color: rgba(var(--freeui-color-gray-600-rgb), 1);
    }
    &--success {
      background-color: rgba(var(--freeui-color-green-600-rgb), 0.15);
      border-color: rgba(var(--freeui-color-green-600-rgb), 0.25);
      color: rgba(var(--freeui-color-green-600-rgb), 1);
    }
    &--warning {
      background-color: yellow;
    }
    &__radius{
      &--xsm {
        border-radius: 2px;
      }
      &--sm {
        border-radius: 4px;
      }
      &--md {
        border-radius: 6px;
      }
      &--lg {
        border-radius: 8px;
      }
      &--xlg {
        border-radius: 10px;
      }
      &--full {
        border-radius: 9999px;
      }
    }
    &__border{
      &--xsm {
        border-style: solid;
        border-width: 1px;
      }
      &--sm {
        border-style: solid;
        border-width: 2px;
      }
      &--md {
        border-style: solid;
        border-width: 3px;
      }
      &--lg {
        border-style: solid;
        border-width: 4px;
      }
      &--xlg {
        border-style: solid;
        border-width: 5px;
      }
    }
  }
}
